<header>
    <div class="logo-area">
        Pay<span>Chain</span>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a href="/users/personal/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a href="/users/personal/send">Send</a>
        </li>
        <li class="nav-item">
            <a href="/users/personal/transaction">Transaction</a>
        </li>
        <li class="nav-item">
            <a href="/users/personal/apitoken">API token</a>
        </li>
        <li class="nav-item">
            <a href="/users/personal/settings">Settings</a>
        </li>
    </ul>
    <div class="user">
        <i class="bi bi-bell"></i>
        <div class="avatar">
            <i class="bi bi-person-circle"></i>
            Dima thiss
        </div>
        <a href="/logout" class="logout">
            <i class="bi bi-box-arrow-right"></i>
        </a>
    </div>
</header>