<div class="center">
    <form class="column width-md sign" action="/users/personal/create" method="post">
        <h2 style="font-size: 36px;"> Create new project </h2>
        <div class="input-wrapper">
            <input name="name" type="text" placeholder="Name">
        </div>
        <button class="wide">Create</button>
    </form>
</div>