
    <h2 class="title">Project name |  Trasactions</h2>
    <hr>
    <table>
        <thead>
            <tr>
                <th> ID </th>
                <th> Client  </th>
                <th> Date </th>
                <th> Amount </th>
                <th> Status </th>
                <th> Pay Url </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>