
<main>
    <div class="wrapper" style="display: none;">
        <div class="card-area">
            <div class="card balans">
                Balans
            </div>
            <div class="card send">
                Send
                <form action="/send" method="post">
                    <div>
                        Karta raqami
                        <input name="card_accept" type="number">
                    </div>
                    <div>
                        O'tkazma summasi
                        <input name="transfer_sum" type="number">
                    </div>

                    <button type="submit">yuborish</button>
                </form>
            </div>
            <div class="card contact">
                contact
            </div>
        </div>
        <div class="history">
            History

        </div>
    </div>
</main>