<div class="center">
    <form class="column width-md sign" action="/users/personal/settings" method="post">
        <h2 style="font-size: 36px;"> Change Password </h2>
        {{#if msgError}}
        <p style=" background-color: rgb(255, 219, 226);padding:6px 24px; color: crimson; font-size:medium">
            {{msgError}}
        </p>
        {{/if}}
        {{#if msgSuccess}}
        <p style=" background-color: rgb(238, 255, 227);padding:6px 24px; color: rgb(13, 133, 35); font-size:medium">
            {{msgSuccess}}
        </p>
        {{/if}}
        <div class="input-wrapper">
            <input name="oldpassword" type="text" placeholder="old password">
            <input name="newpassword" type="text" placeholder="new password">
            <input name="newpasswordconfirm" type="text" placeholder="confirm password">
        </div>
        <button class="wide">change</button>
    </form>
</div>